.container {
    max-width: 1122px;
}
.connector {
    position: relative;
}
.hasShadow {
    box-shadow: 0px 3px 24px 0px rgb(0 0 0 / 100%);
}

.childHasShadow * {
    box-shadow: 0px 3px 24px 0px rgb(0 0 0 / 100%);
}

.button {
    position: relative;
    z-index: 1;
    color: white;
    /* text-transform: uppercase; */
    /* letter-spacing: 1.5px; */
    font-size: 25px;
    /* font-weight: 600; */
    cursor: pointer;

	font-family: "Epilogue";
    text-transform: capitalize;
    letter-spacing: normal;
    font-weight: 700;

}
.button::before {
    content: "";
    width: 85%;
    height: 20px;
    background: #0b2569;
    position: absolute;
    left: -15%;
    bottom: -1px;
    z-index: -1;
    transition: 0.8s cubic-bezier(0.2, 1, 0.3, 1);
	display: none;
}
.button:hover::before {
    left: -5%;
}
.button {
    position: static;
	@media(max-width: 767px) {
		margin-top: 10px;
		font-size: 18px;
		display: block;
	}
}
.button::after {
    transition: 0.8s cubic-bezier(0.2, 1, 0.3, 1);
    content: "";
    width: 0;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.button:hover::after {
    /* width: 100%; */
}

.button {
	text-decoration-line: underline !important;
	text-underline-offset: 0px;
	text-decoration-thickness: 2px;
	text-decoration-color: transparent;
	transition: 0.2s ease;
}
.button:hover {
	text-decoration-color: white;
	text-underline-offset: 2px;
	opacity: 0.65;
}

.button i {
    transition: 0.8s cubic-bezier(0.2, 1, 0.3, 1);

    position: relative;
    left: 0;
	font-size: 22px;
}
.button i:only-child {
	display: none;
}
.button:hover i {
    left: 10px;
}
.arrow {
    margin-left: 10px;
}

.hasPointer {
    cursor: pointer;
}

.noOverflow {
    overflow: hidden;
}

