html,
body {
    padding: 0;
    margin: 0;

    font-family: "Montserrat", sans-serif;
}
h1 {
    font-weight: 600;
}
html {
    background: black;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

h2 {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 30px;
    line-height: 32px;
}

p {
    font-family: "Inter", sans-serif;
    line-height: 40px;
    line-height: 25px;
    font-size: 17px;
}

.relative {
    position: relative;
}

.scrolled {
    background: #363638;
    background: #0d0d0d;
    box-shadow: 0px 3px 24px 0px rgb(0 0 0 / 50%);
    z-index: 100;
}

.scrolled nav {
    padding: 10px 20px;
}

input,
textarea {
    display: block;
    width: 100%;
    border: none;
    box-shadow: none;
    margin-bottom: 20px;
    padding: 15px 15px;
    font-family: "Inter", sans-serif;
}

input::placeholder,
textarea::placeholder {
    color: black;
    font-weight: 600;
}

form {
    background: transparent;
    margin-top: 50px;
}

button {
    border: none;
    background: none;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
}

form::after {
    content: "";
    background: #530d1e;
    width: 100vw;
    height: 60%;
    position: absolute;
    left: 0;
    top: 15%;
    z-index: -1;
}

form {
    position: relative;
    margin-top: 90px;
}

form::before {
    content: "";
    background: #530d1e;
    width: 100vw;
    height: 60%;
    position: absolute;
    right: 0;
    top: 15%;
    z-index: -1;
}

.mobileMenu {
    height: 100vh;
    width: 80vw;
    right: 0;
    z-index: 100;
    position: fixed;
    background: black;
    transition: 0.8s cubic-bezier(0.2, 1, 0.3, 1);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 50px;
    padding-top: 200px;
}

.mobileMenu:not(.active) {
    right: -80vw;
}

@media (min-width: 770px) {
    .mobileMenu {
        display: none;
    }
}

@media (max-width: 768px) {
    section.featuredProjectWrapper {
        margin-bottom: 75px;
        position: relative;
        top: -20px;
    }
    #mainstage div {
        font-size: 26px;
        line-height: normal;
        letter-spacing: 0.11em;
    }
}

span.linked-title h2:hover {
    cursor: pointer;
    opacity: 0.65;
}

span.linked-title h2 {
    transition: 0.2s ease;
}

a.linked-title,
span.linked-title {
    margin-bottom: 10px;
    display: block;
}

.tag {
    background: #530d1e;
    display: inline-block;
    padding: 4px 7px;
    font-size: 14px;
    font-weight: 500;
}

.tag:nth-child(n + 2) {
    background: #b3b3b3;
    color: black;
}

.tags {
    margin-bottom: 20px;
    display: flex !important;
    gap: 10px;
}

body h1 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    font-size: 45px;
}

body h2,
body h2 span {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    line-height: 35px;
}

html {
    background: black !important;
}

.HeaderImage_headerImage__y1bV1 {
    min-height: 320px !important;
}

body a:hover {
    text-decoration: none;
}

body a:hover {
    color: currentColor;
}

body a {
    color: inherit;
}

.Project_buttonRight__Hq5y2 {
    color: white;
}

.btn.btn-primary {
    z-index: 99;
    position: relative;
    font-size: 14px;
    display: inline-block;
    background: #530d1e;
    line-height: normal;
    padding: 15px 20px;
    letter-spacing: normal;
    font-family: "Montserrat", sans-serif;
    text-transform: none;
    cursor: pointer;
}

.HeaderImage_headerImage__y1bV1 section {
    text-align: center;
    margin: 0 auto;
}

.SingleProject_bodyCopy__1eWJl > div {
    margin-bottom: 75px;
}

.Project_buttonLeft__wSNIc {
    z-index: 50;
}
.Project_buttonRight__Hq5y2 {
    z-index: 50;
}

a.Global_button__xd3al:hover {
    color: white;
}

.has-link {
    cursor: pointer;
    transition: 0.2s ease;
}

.has-link:hover {
    opacity: 0.8;
}
