.headerImage {
    height: 350px;
    padding-top: 100px;
}
@media (max-width: 768px) {
    .pageTitle {
        font-size: 36px;
        letter-spacing: 10.5px;
        text-align: left;
    }
    .headerImage {
        height: 350px;
        min-height: unset;
    }
}
