.mainstage {
    /* height: calc(100vh - 150px); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    /* overflow: hidden; */
    /* min-height: 810px; */
    padding-top: 200px;
}
.headerImage {
    min-height: unset !important;
}
.innerContent {
    text-transform: none;
    letter-spacing: normal;
    font-weight: normal;
    font-family: "Epilogue";
}
@media (max-width: 769px) {
    .mainstage {
        /* min-height: 590px; */
        height: auto;
    }
}

.connector {
    position: relative;
    overflow-y: hidden;
}

.content {
    font-family: "Epilogue", sans-serif;
    font-size: 60px;
    line-height: 52px;
    /* letter-spacing: 6.96px; */
    text-transform: lowercase;
    font-weight: 600;
    color: white;
    text-align: left;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100vw - 50px);
    text-align: center;
    letter-spacing: -1.2px;
    @media (max-width: 767px) {
        letter-spacing: normal !important;
        font-size: 42px !important;
    }
}
.content h1 {
    text-transform: lowercase;
}

.videoWrapper {
    z-index: 1;
    height: 100vh;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.video {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    /* opacity: 0.4; */
    /* filter: blur(5px); */
}

.controlSpace {
    z-index: 10;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.gradientOverlay {
    z-index: 9;
    height: 100vh;
    width: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 1) 10%,
        rgba(255, 255, 255, 0) 100%
    );
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 1) 10%,
        rgba(20, 19, 65, 0.7) 100%
    );
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 1) 10%,
        rgba(4, 30, 66, 0.7) 100%
    );
}

.white {
    color: white;
}

.small {
    font-size: 20px;
}

.captionWrapper {
    text-align: center;
}
