.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    transition: 0.8s cubic-bezier(0.2, 1, 0.3, 1);
    z-index: 200;
    color: white;
}

@media (max-width: 769px) {
    .navbarWrapper .link {
        display: none;
    }
}

.navbarWrapper {
    padding: 50px 20px;
    max-width: 1122px;
    margin: 0 auto;
    letter-spacing: 1.5px;
    text-align: right;
    transition: 0.8s cubic-bezier(0.2, 1, 0.3, 1);
}
.link,
.logo {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 50px;
    cursor: pointer;
    transition: 0.8s cubic-bezier(0.2, 1, 0.3, 1);
}
.link {
    position: relative;
}
.link::after {
    transition: 0.8s cubic-bezier(0.2, 1, 0.3, 1);
    content: "";
    width: 0;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.link:hover::after {
    width: 100%;
}

.cta {
    position: relative;
    z-index: 1;
}
.cta::before {
    content: "";
    width: 100%;
    height: 15px;
    background: #530d1e;
    position: absolute;
    left: -25%;
    bottom: -25%;
    z-index: -1;
    transition: 0.8s cubic-bezier(0.2, 1, 0.3, 1);
}

.cta:hover::before {
    left: -10%;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.left {
    text-align: left;
    width: 50%;
}
.right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    font-size: 40px;
}

@media (min-width: 770px) {
    .hamburger {
        display: none;
    }
}

.hamburger {
    border-bottom: 3px solid white;
    width: 30px;
    position: relative;
    cursor: pointer;
}

.hamburger::before,
.hamburger::after {
    cursor: pointer;
    content: "";
    width: 30px;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
}

.hamburger::before {
    top: -7px;
}

.hamburger::after {
    top: 7px;
}

.hamburgerWrapper {
    cursor: pointer;
}

.mobileLink {
    color: white;
    display: block;
    margin-bottom: 50px;
    font-size: 25px;
}
